.dialogs {
    border-right: 1px solid #d1d1d1;
    height: 640px;
}

.dialog {
    padding: 8px 8px 8px 17px;
    border-bottom: 1px solid #d1d1d1;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.dialog:hover {
    cursor: pointer;
    background-color: #dbdbdb;
}

.dialog:active {
    background-color: #789bc9;
}