.container {
    word-wrap: break-word; /*текст не выходит за рамки контейнера*/
}

.title {
    font-size: 1.2rem;
    padding: 10px;
    background-color: #9cb6d9;
}

.dialogsContainer {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: 650px;
}

.dialogs {
    padding-top: 10px;
    border-right: 1px solid #d1d1d1;
}

.dialog {
    padding: 10px;
    padding-left: 10px;

}

.dialog:hover {
    cursor: pointer;
    background-color: #dbdbdb;
}
.dialog:active {
    background-color: #789bc9;
}

.messages {
    margin: 10px;
}