.header {
    height: 100%;
}

.logo {
    border-radius: 10px 10px 0 0;
    width: 100%;
    /* height: 14rem; */
    height: 100%;
    background-image: url('https://avatanplus.com/files/resources/original/56ffca99c57d3153d72f68d1.png');
    background-position: center top -108px;
    background-repeat: no-repeat;
}