.post {
    min-height: 100px;
    max-height: 650px;
    overflow: auto;
}

.postForm {
    background-color: #d8ead7;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 0;
}

.sendPostForm {
    display: flex;
    flex-direction: row;
}