.post {
    display: grid;
    grid-template-columns: auto 1fr;

    background-color: #789bc9;
    margin: 10px;
    border-radius: 15px;
}
.avatar{
    grid-column-start: 1;
    margin: 10px;
}
.avatar > img {
    width: 60px;
    border-radius: 50%;
}
.body{
    grid-column-start: 2;
    margin: 10px;
}