.users {
    background-color: #898f9f;
    overflow: auto;
    min-height: 100px;
    max-height: 650px;
    height: 100%;
}

.pagesContainer {
    padding: 10px;
    background-color: #a8aeb6;
}

.pagesCount {
    font-size: 1.3rem;
    color: #f5f5f5;
    margin: 0 5px;
}

.selected {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    margin: 0 10px;
}

.user {
    display: grid;
    grid-template-columns: 150px 1fr;
    height: 150px;
    padding: 10px;
}

.profile {
    display: grid;
    grid-template-rows: 120px 30px;
    justify-items: center;
    align-items: end;
}
.photo > img {
    height: 65px;
    width: 65px;
}

.name {
    color: #0f6d8f;
    font-weight: bold;
}

.followButton {
    background-color: greenyellow;
    color: black;
    font-size: .6rem;
    letter-spacing: 2px;
    border: none;
    width: 85px;
    height: 20px;
    padding: 0;
}
.unfollowButton {
    background-color: white;
    color: black;
    font-size: .6rem;
    letter-spacing: 2px;
    border: none;
    width: 85px;
    height: 20px;
    padding: 0;
}

.message {
    display: grid;
    grid-template-rows: 15px 1fr 15px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}
.header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: end;
}
.bodyMessage {
    margin: 15px 0;
}
.statusContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-self: end;
}
.status {
    color: #dc00dc;
}

.showMoreButton {
    position: absolute;
    background-color: #d8ead7;
    left: 0;
    right: 0;
    bottom: 0;
}

.superButton {

}



