.header {
    display: flex;
    height: 100%;
}

.logo {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    background-image: url('https://avatanplus.com/files/resources/original/56ffca99c57d3153d72f68d1.png');
    background-position: center top -108px;
    background-repeat: no-repeat;
}

.loginBlock {
    display: flex;
    align-items: start;
    height: 20px;
    margin: 10px 20px 0 0;
    color: #073c67;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}
.loginBlock:hover {
    color: #4f4f4f;
}