.navbarContainer {
}

.navbar {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    /*margin: 20px 0 10px 0;*/
}

.navbar a {
    text-decoration: none;
    color: #073c67;
    letter-spacing: 1px;
    padding: 5px 10px;
}
.navbar a:hover {
    background-color: #f8fbff;
    color: #e850ff;
}
.navbar a:focus {
    background-color: #bec5d7;
    font-weight: bold;
}

.friends {
    display: flex;
    width: 230px;
    flex-direction: row;
    padding: 5px;
}

.titleFriends {
    font-size: 1.3em;
    text-transform: uppercase;
    margin-top: 50px;
    padding: 10px;
    color: #62748d;
    letter-spacing: .5em;
    font-weight: bold;
    border-top: 1px solid grey;
}

img {
    padding: 5px;
    height: 50px;
    border-radius: 50%;
}