.grid-wrap {
    display: grid;
    grid-template-columns: 1fr minmax(390px, 1000px) 1fr;
    font-family: 'Graphik', sans-serif;
}

.grid-area {
    grid-column-start: 2;
    display: grid;
    grid-template-areas:
    "header header"
    "navbar content";

    grid-template-columns: auto minmax(270px, 840px);
    grid-template-rows: 100px 700px;

    justify-content: center;
    margin: 60px 10px 10px 10px;
    padding: 0;
    border-radius: 10px;
}

.header {
    grid-area: header;
    background-color: #7cac79;
    border-radius: 10px 10px 0 0;
}

.navbar {
    grid-area: navbar;
    grid-template-rows: 1fr;
    background-color: #bfd7bd;
    border-radius: 0 0 0 15px;
}

.content {
    grid-area: content;
    background-color: #fafafa;
    border-radius: 0 0 10px 0;
    position: relative;
}